:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --header-background-color: #1a4814;
  --header-color: white;

  --main-background-color: #eaffe0;
  --main-color: #001419;

  --card-background-color: #c8eac1;
  --card-line-color: #1A4814;

  --form-section-background: #d6e5d3;
  --form-color: black;
  --form-placeholer-color: grey;

  --comments-background: #c8eac1;

  --button-hover-color: #a49f9f;
}

[data-theme="dark"] {
  --header-background-color: #1F3329;
  --header-color: #EAFFE0;

  --main-background-color: #344E41;
  --main-color: #EAFFE0;

  --card-background-color: #588157;
  --card-line-color: #EAFFE0;

  --form-section-background: #87A186;
  --form-color: #EAFFE0;
  --form-placeholer-color: #cfe5cc;

  --comments-background: #588157;

  --button-hover-color: #588157;
}

body{
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: var(--main-background-color);
  color: var(--main-color);

  cursor: url("/res/cursor.png"), auto;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, button, input[type="submit"], input[type="button"], label[for] {
  cursor: url("/res/pointer.png"), pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #a6c3a0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--header-background-color);
  border-radius: 6px;
  border: 3px solid #a6c3a0;
}

::-webkit-scrollbar-thumb:hover {
  background: #123512;
}

:root {
  --scrollbar-width: calc(100vw - 100%);
}
header {
  margin-right: calc(-1*var(--scrollbar-width));
}

body, html{
  overflow-x: hidden;
}