:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: Black;
  background-color: #eaffe0;

  cursor: url("./assets/images/cursor.png"), auto;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, button, input[type="submit"], input[type="button"], label[for] {
  cursor: url("./assets/images/pointer.png"), pointer;
}


/* Змінюємо весь скролбар */
::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролбару */
  height: 12px; /* висота для горизонтального скролбару */
}

/* Доріжка скролбару (тло) */
::-webkit-scrollbar-track {
  background: #a6c3a0; /* колір фону доріжки */
}

/* Ручка скролбару */
::-webkit-scrollbar-thumb {
  background-color: #1a4814; /* колір ручки скролбару */
  border-radius: 6px;
  border: 3px solid #a6c3a0; /* створення бордюрів та додання відступів */
}

/* Ручка скролбару при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: #123512; /* колір ручки скролбару при наведенні */
}