:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: Black;
  background-color: #eaffe0;

  cursor: url("./assets/images/cursor.png"), auto;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, button, input[type="submit"], input[type="button"], label[for] {
  cursor: url("../public/res/pointer.png"), pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #a6c3a0;
}

::-webkit-scrollbar-thumb {
  background-color: #1a4814;
  border-radius: 6px;
  border: 3px solid #a6c3a0;
}

::-webkit-scrollbar-thumb:hover {
  background: #123512;
}